.chart-content {
  padding: 20px 20px 0 20px;
  background-color: #525252;
}

.team-strengths {
  font-family: 'Pokemon Solid';
  color: ghostwhite;
  text-align: center;
  margin: 50px 0;
}

.types-scroller {
  color: ghostwhite;
  padding: 0 35px;
  overflow-x: auto;
}

.types-chart-left-row {
  position: absolute;
  top: 191px;
  background-color: #525252;
}

.types-chart-left-row-analysis {
  position: absolute;
  top: 309px;
  background-color: #525252;
}

.types-chart-top-row {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

.type-chart-symbol {
  height: 30px;
  margin: 12px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.type-chart-symbol-left {
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.left-symbol-container {
  height: 50px;
  border: 1px solid transparent;
}

.type-chart-pokemon-left {
  align-self: center;
}

.left-pokemon-container {
  margin-bottom: 12px;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.data-row {
  display: flex;
  border: 1px solid transparent;
  margin-left: 20px;
}

.analysis-row {
  height: 56.5px;
}

.chart-row {
  height: 50px;
}

.data-block {
  text-align: center;
  width: 50px;
  margin: 5px;
}

.quadruple {
  color: #313131;
  background: linear-gradient(to right bottom, #e9dfb7 30%, #f7d02c 60%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.double {
  background-color: #4caf50;
}

.half {
  background-color: #e53935;
}

.zero {
  background-color: #2e3436;
}

.types-drawer .types-drawer-tab {
  color: ghostwhite;
  border-bottom: 1px solid lightgrey;
}

.types-drawer .types-drawer-tab:first-child {
  border-right: 2px solid ghostwhite;
}

.types-drawer .types-drawer-tab-active {
  background-color: #414141;
}

.null {
  background-color: lightgray;
}

.null-border {
  border: 3px solid ghostwhite;
}

.Psychic {
  background-color: #f95587;
}

.Psychic-border {
  border: 3px solid #f95587;
}
.Bug {
  background-color: #a6b91a;
}

.Bug-border {
  border: 3px solid #a6b91a;
}
.Rock {
  background-color: #b6a136;
}

.Rock-border {
  border: 3px solid #b6a136;
}
.Ghost {
  background-color: #735797;
}

.Ghost-border {
  border: 3px solid #735797;
}
.Dragon {
  background-color: #6f35fc;
}

.Dragon-border {
  border: 3px solid #6f35fc;
}
.Dark {
  background-color: #705746;
}

.Dark-border {
  border: 3px solid #705746;
}
.Steel {
  background-color: #b7b7ce;
}

.Steel-border {
  border: 3px solid #b7b7ce;
}

.Fairy {
  background-color: #d685ad;
}

.Fairy-border {
  border: 3px solid #d685ad;
}

.Normal {
  background-color: #a8a77a;
}

.Normal-border {
  border: 3px solid #a8a77a;
}

.Flying {
  background-color: #a98ff3;
}

.Flying-border {
  border: 3px solid #a98ff3;
}

.Ground {
  background-color: #e2bf65;
}

.Ground-border {
  border: 3px solid #e2bf65;
}

.Poison {
  background-color: #a33ea1;
}

.Poison-border {
  border: 3px solid #a33ea1;
}

.Fighting {
  background-color: #c22e28;
}

.Fighting-border {
  border: 3px solid #c22e28;
}

.Ice {
  background-color: #96d9d6;
}

.Ice-border {
  border: 3px solid #96d9d6;
}

.Grass {
  background-color: #7ac74c;
}

.Grass-border {
  border: 3px solid #7ac74c;
}

.Electric {
  background-color: #f7d02c;
}

.Electric-border {
  border: 3px solid #f7d02c;
}

.Water {
  background-color: #6390f0;
}

.Water-border {
  border: 3px solid #6390f0;
}

.Fire {
  background-color: #ee8130;
}

.Fire-border {
  border: 3px solid #ee8130;
}

.create-a-team-container {
  text-align: center;
  margin-top: 150px;
  cursor: pointer;
}

.create-a-team-title {
  font-family: 'Pokemon Solid';
  color: ghostwhite;
}

.create-a-team {
  height: 100px;
}

.types-drawer-header {
  background-color: #313131;
}

.types-drawer-header .types-drawer-return-button {
  position: absolute;
  color: ghostwhite;
}

.types-drawer-header .types-drawer-return-button-image {
  border: 1px solid ghostwhite;
  border-radius: 50%;
}

.types-drawer-header .types-drawer-title {
  color: ghostwhite;
  font-family: 'Pokemon Solid';
  text-align: center;
}

.types-drawer .types-drawer-divider {
  background-color: lightgrey;
}

.analysis-pokemon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  margin: 5px;
}

.pokemon-analysis-image {
  align-self: center;
}
.threats-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 20px 10px;
}
