#dex-pokemon-container {
  margin: 0 20px;
  height: 600px;
  background-color: dimgray;
  border-radius: 10px;
}

.Row {
  justify-content: center;
  display: flex;
  text-align: center;
}

.dex-pokemon-list-item {
  padding: 12px;
  text-align: center;
}

.pokemon-bubble {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.pokemon-bubble:hover {
  animation: mover 1s linear infinite;
}

.selected {
  background-size: cover;
  border: 3px solid white;
  background-image: url('../../assets/images/misc/pokeball.png'),
    linear-gradient(to right, white, white);
}

.selected:hover {
  animation: shake 3s linear infinite;
}

.sprite {
  align-self: center;
}

.large {
  width: 150px;
}

.pokemon-number {
  color: #64c4ed;
}

.name-eng {
  color: ghostwhite;
  line-height: 20px !important;
  font-weight: bold;
  line-height: 5px;
}

.null {
  background-color: lightgray;
}

.null-border {
  border: 3px solid ghostwhite;
}

.Psychic {
  background-color: #f95587;
}

.Psychic-border {
  border: 3px solid #f95587;
}
.Bug {
  background-color: #a6b91a;
}

.Bug-border {
  border: 3px solid #a6b91a;
}
.Rock {
  background-color: #b6a136;
}

.Rock-border {
  border: 3px solid #b6a136;
}
.Ghost {
  background-color: #735797;
}

.Ghost-border {
  border: 3px solid #735797;
}
.Dragon {
  background-color: #6f35fc;
}

.Dragon-border {
  border: 3px solid #6f35fc;
}
.Dark {
  background-color: #705746;
}

.Dark-border {
  border: 3px solid #705746;
}
.Steel {
  background-color: #b7b7ce;
}

.Steel-border {
  border: 3px solid #b7b7ce;
}

.Fairy {
  background-color: #d685ad;
}

.Fairy-border {
  border: 3px solid #d685ad;
}

.Normal {
  background-color: #a8a77a;
}

.Normal-border {
  border: 3px solid #a8a77a;
}

.Flying {
  background-color: #a98ff3;
}

.Flying-border {
  border: 3px solid #a98ff3;
}

.Ground {
  background-color: #e2bf65;
}

.Ground-border {
  border: 3px solid #e2bf65;
}

.Poison {
  background-color: #a33ea1;
}

.Poison-border {
  border: 3px solid #a33ea1;
}

.Fighting {
  background-color: #c22e28;
}

.Fighting-border {
  border: 3px solid #c22e28;
}

.Ice {
  background-color: #96d9d6;
}

.Ice-border {
  border: 3px solid #96d9d6;
}

.Grass {
  background-color: #7ac74c;
}

.Grass-border {
  border: 3px solid #7ac74c;
}

.Electric {
  background-color: #f7d02c;
}

.Electric-border {
  border: 3px solid #f7d02c;
}

.Water {
  background-color: #6390f0;
}

.Water-border {
  border: 3px solid #6390f0;
}

.Fire {
  background-color: #ee8130;
}

.Fire-border {
  border: 3px solid #ee8130;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes mover {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.no-results {
  color: #64c4ed;
  padding: 25px;
  text-align: center;
}
.no-results-image {
  margin: auto;
  height: 200px;
}

.name-container {
  height: 100px;
}

.list-button-container {
  text-align: center;
  padding: 0 20px;
}
.list-button-container .random-button {
  margin: 20px;
  width: 80%;
  color: ghostwhite;
  background-color: #419cee;
}

.list-button-container .random-button:hover {
  background-color: #629ccd;
}

.list-button-container .types-button {
  margin: 20px;
  width: 80%;
  color: ghostwhite;
  background-color: #ee8329;
}

.list-button-container .types-button:hover {
  background-color: #e9934c;
}
