.toggles-container {
  background-color: #5d5d5d;
  border-bottom: 1px solid #64c4ed;
  padding: 20px 20px 5px 20px;
  color: ghostwhite;
}

@media screen and (max-width: 960px) {
  .toggle-content {
    display: none;
  }
}
.search-bar {
  margin: 2px;
  background-color: transparent;
  color: ghostwhite;
  width: 75%;
}

.search-bar::placeholder {
  color: ghostwhite;
}

.total-results {
  font-size: 12px;
  font-style: italic;
}
.button-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.button-container .clear-team-button {
  color: ghostwhite;
  margin-left: 10px;
  background-color: #e53935;
}

.button-container .clear-team-button:hover {
  background-color: #b71c1c;
}

.button-container .specs-button {
  color: ghostwhite;
  margin-right: 10px;
  background-color: #7c7ab0;
}

.button-container .specs-button:hover {
  background-color: #8b647d;
}

@media screen and (max-width: 960px) {
  .button-container {
    padding: 15px;
  }
}

.clear-search-image-container {
  height: 50px;
  width: 50px;
}

.clear-search-image {
  height: 25px;
  margin-right: 2px;
}
