.selected-team-container {
  margin-bottom: 20px;
}

.selected-team-container .selected-pokemon-container {
  display: flex;
  justify-content: space-evenly;
}

.selected-pokemon {
  align-self: center;
  transform: scale(0.7);
}

.team-preview-title {
  text-align: center;
  width: 100%;
  color: ghostwhite;
  font-size: 20px;
  font-family: "Pokemon Solid";
  padding: 20px;
}

.team-preview-icon {
  height: 25px;
}

.team-preview-title .team-preview-icon-container {
  margin-left: 10px;
}

.select-your-team {
  text-align: center;
  font-style: italic;
  color: ghostwhite;
  font-size: 14px;
}

.dragging {
  background-color: #57b795;
  border: 1px solid ghostwhite;
}

.random-button-container {
  text-align: center;
}
.random-button-container .random-button {
  margin: 20px;
  width: 200px;
  color: ghostwhite;
  background-color: #419cee;
}

.random-button-container .random-button:hover {
  background-color: #629ccd;
}
