.selected-team-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.selected-pokemon {
  align-self: center;
  transform: scale(0.7);
}

.team-preview-title {
  text-align: center;
  width: 100%;
  color: ghostwhite;
  font-size: 20px;
  font-family: "Pokemon Solid";
  padding-top: 20px;
}

.team-preview-icon {
  height: 25px;
}

.team-preview-title .team-preview-icon-container {
  margin-left: 10px;
}

.select-your-team {
  text-align: center;
  font-style: italic;
  color: ghostwhite;
}
