.filters-container {
  position: fixed;
  z-index: 999;
  background-color: #525252;
  border-bottom: 1px solid #64c4ed;
  width: 100%;
  padding: 10px 20px;
}
.filter-title {
  color: ghostwhite;
}

@media screen and (max-width: 600px) {
  .filter-content {
    display: none;
  }
}
/* 
.type-menu-item {
  float: left;
  width: 50%;
}
.type-symbol {
  margin: 2.5px 0;
  height: 30px;
}
.filter-content .select {
  width: 150px;
  margin-bottom: 5px;
}

.inactive {
  opacity: 0.5;
}

.active {
  opacity: 1;
} */

.search-bar {
  margin: 2px 0;
  background-color: transparent;
  color: ghostwhite;
  width: 100%;
}

.search-bar::placeholder {
  color: ghostwhite;
}
